<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinTrack">
        <activity
            android:name=".UserService.view.PersonalInfoActivity"
            android:exported="false" />
        <activity
            android:name=".UserService.view.UserAccountProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UserService.view.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".UserService.view.SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".UserService.view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".UserService.view.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AccountService.view.AccountDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".AccountService.view.ManageWalletActivity"
            android:exported="false" />
        <activity
            android:name=".AccountService.view.WalletDetailActivity"
            android:exported="false" />
        <activity
            android:name=".AccountService.view.ActiveWalletsActivity"
            android:exported="false" />
        <activity
            android:name=".AccountService.view.HiddenWalletsActivity"
            android:exported="false" />
        <activity
            android:name=".AccountService.view.WalletTypeActivity"
            android:exported="false" />

        <activity
            android:name=".TransactionService.view.CategoryManagementActivity"
            android:exported="false" />

        <activity
            android:name=".TransactionService.view.UpdateDeleteTransactionActivity"
            android:exported="false"/>
        <activity
            android:name=".TransactionService.view.ScanReceiptActivity"
            android:exported="false"/>

        <activity
            android:name=".AlertService.view.AddReminderActivity"
            android:exported="false"/>

        <activity
            android:name=".AlertService.view.ReminderActivity"
            android:exported="false"/>
        <activity
            android:name=".AnalyticService.view.AnalyticsActivity"
            android:exported="false"/>
        <activity
            android:name=".AnalyticService.view.TrendReportActivity"
            android:exported="false"/>
        <activity
            android:name=".TransactionService.view.AddTransactionActivity"
            android:exported="false"/>
    </application>

</manifest>